
  #btn{
      display: none;
      text-align: center;
      margin-left: 100px;
   


  }
  .fas{
      font-size: 36px;
      border-radius: 5px;
      border: 1px solid #1b2429;
  }
  .fas:hover{
    background-color: #f3f7f7;
    color: #02b3e4;
    transition: all 0.5s ease;

  }
  @media only screen and (max-width: 500px) {
      body { 
          height:310px; 
          width:300px;  
          background-image:     url('../images/sky-game-background-vector-21861325.jpg');
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Monaco';
             
      }
  
      .fas{
          width: 50px;
          height: 50px;
          font-size: 50px;
          display: inline;
      }
      #btn{
        display: block;
  
  
    }

    h1{
  text-align: center;
        font-size: 15px;
        color: #0D47A1;
        
    }
    h3{
        font-size: 15px;
        text-align: center;

        color: #0D47A1;
    }
    .btn-info {
        color: #f3f7f7;
        background-color: #02b3e4;
        width: 100px;
        height: 20px;
        border: 1px solid #e9edef;
        border-radius: 5px;
        box-shadow: 1px 2px 4px rgba(235, 235, 235, 0.48);
        font-size: 10px;

    
    }
  }