body {
    text-align: center;
    background-image:     url('../images/sky-game-background-vector-21861325.jpg');
     height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Monaco';

}
h1{

    font-size: 25px;
    color: #0D47A1;
}
h3{
  color: #0D47A1;
}
#myDIV {
  display: none;
  position: fixed;
  left: 25%;
  width: 50%;
  padding: 10px 10px;
  text-align: left;
  background-color: #a0c2fa;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 40px #e3e1e1;
  font-family: 'Monaco';
 
}

#pop-up {
    display: none;
    position: fixed;
    background-color: #fff;
    top: 20%;
    left: 2%;
    width: 625px;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 40px #e3e1e1;
    list-style: none;
    font-family: 'Monaco';
}



#pop-up h1 {
    margin: auto;
    font-size: 30px;
}

.btn-endBoxRestart {
    color: #f3f7f7;
    background-color: #02b3e4;
    width: 120px;
    height: 30px;
    border: 1px solid #e9edef;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(235, 235, 235, 0.48);
    font-size: 1em;
    font-family: 'Monaco';

}

.btn-endBoxRestart:hover {
    background-color: #f3f7f7;
    color: #02b3e4;
    transition: all 0.5s ease;
}

.btn-info {
    
    color: #f3f7f7;
    background-color: #02b3e4;
    width: 130px;
    height: 40px;
    border: 1px solid #e9edef;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(235, 235, 235, 0.48);
    font-size: 1em;
    font-family: 'Monaco';

}

.btn-info:hover {
    background-color: #f3f7f7;
    color: #02b3e4;
    transition: all 0.5s ease;
}
.btn{
    display: block;
  }
@media only screen and (max-width: 800px) {
    body { 
        height:820px; 
        width:370px;  
           
    }
  

}
